@model eShopSolution.ViewModels.Catalog.Categories.CategoryUpdateRequest

<div class="modal-header">
    <h4 class="modal-title text-success text-uppercase">Update</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Edit" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-6 mb-3">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label asp-for="LanguageId" class="control-label"></label>
            <input asp-for="LanguageId" class="form-control" />
            <span asp-validation-for="LanguageId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label asp-for="SeoTitle" class="control-label"></label>
            <input asp-for="SeoTitle" class="form-control" />
            <span asp-validation-for="SeoTitle" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label asp-for="SeoAlias" class="control-label"></label>
            <input asp-for="SeoAlias" class="form-control" />
            <span asp-validation-for="SeoAlias" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="SeoDescription" class="control-label"></label>
            <textarea asp-for="SeoDescription" class="form-control"></textarea>
            <span asp-validation-for="SeoDescription" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="SortOrder" class="control-label"></label>
            <input asp-for="SortOrder" class="form-control" min="1" />
            <span asp-validation-for="SortOrder" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsShowOnHome" /> @Html.DisplayNameFor(model => model.IsShowOnHome)
            </label>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
            </label>
        </div> 
        <div class="modal-footer pb-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
            <button id="EditBtn" type="submit" class="btn btn-success" data-save="modal">Save</button>
        </div>
    </form>
</div>